{% extends "layout.html" %}

{% block title %}Sell{% endblock %}

{% block content %}
    <h2>List a New Product</h2>
    <form method="POST" action="{{ url_for('sell') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.item.label }} {{ form.item(size=32) }}
        </div>
        <div>
            {{ form.brand.label }} {{ form.brand(size=32) }}
        </div>
        <div>
            {{ form.category.label }} {{ form.category(size=32) }}
        </div>
        <div>
            {{ form.price.label }} {{ form.price(size=32) }}
        </div>
        <div>
            {{ form.size.label }} {{ form.size(size=32) }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}
